<%= form_for ([@company, @note]) do |f| %>
<p><%= f.label :title, 'Title' %>
<%= f.text_field :title %></p>
<p><%= f.label :body, 'Note' %>
<%= f.text_area :body %></p>

<%= f.submit "Update Note" %>
<% end %>
