<div class='container'>
  <% @jobs.each do |job| %>
    <div class='job'>
      <%= link_to job.title, job_path(job.uid) %>
      Location: <%= job.location %>
      Posted Date: <%= job.posted_date %>
      Remote: <%= job.remote %>
      Company: <%= job.company_name %>
      Technologies: <%= job.technologies %>
    </div>
  <% end %>
</div>
