<div class='well container'>
  <table class='table'>
    <tr>
      <td>Title: <%= @job.title %></td>
    </tr><tr>
      <td>Description: <%= sanitize @job.description%></td>
    </tr><tr>
      <td>URL: <%= link_to @job.url %></td>
    </tr><tr>
      <td>Company: <%= @job.company_name %></td>
    </tr><tr>
      <td>Remote: <%= @job.remote %></td>
    </tr><tr>
      <td>Posted Date: <%= @job.posted_date %></td>
    </tr><tr>
      <td>Location: <%= @job.location %></td>
    </tr><tr>
      <td>Technologies: <%= @job.technologies %></td>
    </tr>
  </table>


  <% if current_user.starred_jobs.exists?(uid: @job.uid) %>
    <div class='starred-message'>
      <h4><i class="text-info">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> This job has been saved in your starred list.
      </i></h4>
    </div>
    <%= button_tag class: "btn btn-default btn-lg unstar-job star-toggle", data: {no_turbolink: true, id: @job.uid} do %>
    <%= content_tag("span", "", class: ["glyphicon", "glyphicon-star"], aria_hidden: true) %> Unstar
    <% end %>
  <% else %>
    <div class='starred-message'></div>
    <%= button_tag class: "btn btn-default btn-lg star-job star-toggle", data: {no_turbolink: true, id: @job.uid} do %>
      <%= content_tag("span", "", class: ["glyphicon", "glyphicon-star"], aria_hidden: true) %> Star
    <% end %>
  <% end %>
</div>

<div class='job-data' hidden>
  <%= @job_data %>
</div>
