<% companies.each do |company| %>
  <div class='card card-inverse col-md-4'>
    <div class='logo'>
      <%= image_tag company.logo.url, class: 'card-img-top' %>
    </div>
    <div class='card-block'>
      <h4 class='card-title'>
        Company Name: <%= link_to company.name, company_path(company) %><br />
      </h4>
      <% company.locations.each do |location| %>
        <p class='card-text'>
          <%= location.street_address %><br />
          <%= location.street_address_2 %><br />
          <%= location.city_state_zip %><br />
          <%= location.phone %><br />
        </p>
      <% end %>
      <p class='card-text'>
        <%= company.website %>
      </p>
    </div>
  </div>
<% end %>
