<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <li class="sidebar-brand">
          <h2>Filters</h2>
      </li>
      <li>
        <div class="form-group">
          <%= form_tag("/companies", method: "get") do %>
          <%= label_tag :size %>
          <% @company_sizes.each do |size| %>
          <li>
          <%= check_box_tag 'company_size[]', size[0] %>
          <%= h size[0] %>
        </li>
          <% end %>
          <div class="col-md-4">
            <%= submit_tag ("Submit") %>
            <% end %>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
        <%= form_tag("/companies", method: "get") do %>
        <%= label_tag :industry %>
          <% @industries.each do |industry| %>
              <li>
                <%= check_box_tag 'industry_ids[]', industry.name -%>
                <%= h industry.name -%>
              </li>
          <% end %>
          <div class="col-md-4">
            <%= submit_tag ("Submit Industries") %>
            <% end %>
          </div>
        </div>
      </li>
  </ul>
</div>
