<div class='well container'>
  <% unless @jobs.empty? %>
  <% @jobs.each do |job| %>
    <div class='job' data-id=<%= job.uid %>>
      <table class='table'>
        <tr>
          <td><%= link_to job.title, job_path(job.uid) %></td>
        </tr><tr>
          <td>Company: <%= job.company_name %></td>
        </tr><tr>
          <td>Remote: <%= job.remote %></td>
        </tr><tr>
          <td>Posted Date: <%= job.posted_date %></td>
        </tr><tr>
          <td>Location: <%= job.location %></td>
        </tr>
      </table>
      <button class='btn btn-danger btn-remove-job'>Remove from starred jobs</button>
    </div>
  <% end %>
<% end %>
</div>
