<%= form_for @private_note, url: my_notes_path(@private_note) do |f| %>
<p><%= f.label :company, 'Company' %>
<%= f.text_field :company %></p>
<p><%= f.label :body, 'Note' %>
<%= f.text_area :body %></p>

<%= f.submit %>
<% end %>
