<div class="container">
  <div class="well">
    <h2>Company Information</h2>
    <table class="table">
    <%= form_for(@company) do |f| %>
    <tr>
      <td><%= f.label :name   %><span class='required'>*</span></td>
      <td><%= f.text_field :name, class: 'required-field' %></td>
    </tr>
    <tr>
      <td><%= f.label :website %><span class='required'>*</span></td>
      <td><%= f.text_field :website, class: 'required-field' %><p id="website_req"></p></td>
    </tr>
    <tr>
      <td><%= f.label :headquarters %><span class='required'>*</span></td>
      <td><%= f.text_field :headquarters, class: 'required-field' %><p id="headquarters_req"></p></td>
    </tr>
    <tr>
      <td><%= f.label :products_services %><span class='required'>*</span></td>
      <td><%= f.text_field :products_services, class: 'required-field' %><p id="services_req"></p></td>
    </tr>
    <tr>
      <td><%= f.label :size, "Number of Employees:" %></td>
      <td><%= select_tag :size, options_for_select(company_size) %></td>
    </tr>
    <tr>
      <td><%= f.label :logo %></td>
      <td><%= f.file_field :logo, accept: 'image/jpg,image/jpeg,image/png' %></td>
    </tr>
    <tr>
      <td><%= f.label :industries %><span class='required'>*</span></td>
      <td id='industry-checkboxes'>
        <br>
        <br>
        <% @industries.each do |industry| %>
          <%= check_box_tag 'industry_ids[]', industry.id -%>
          <%= h industry.name -%><br />
        <% end %>
      </td>
    </tr>


    <tr>
      <td colspan="2"><h3>Company Primary Location</h3></td>
    </tr>


      <%= fields_for(@location) do |u| %>
      <tr>
        <td><%= u.label :street_address %><span class='required'>*</span></td>
        <td><%= u.text_field :street_address, class: 'required-field' %><p id="street_address_req"></p></td>
      </tr>
      <tr>
        <td><%= u.label :street_address_2 %></td>
        <td><%= u.text_field :street_address_2 %></td>
      </tr>
      <tr>
        <td><%= u.label :phone %><span class='required'>*</span></td>
        <td><%= u.text_field :phone, class: 'required-field' %><p id="phone_req"></p></td>
      </tr>
      <tr>
        <td><%= u.label :primary_contact %><span class='required'>*</span></td>
        <td><%= u.text_field :primary_contact, class: 'required-field' %><p id="primary_contact_req"></p></td>
      </tr>
      <tr>
        <td><%= u.label :city %><span class='required'>*</span></td>
        <td><%= u.text_field :city, class: 'required-field' %><p id="city_req"></p></td>
      </tr>
      <tr>
        <td><%= u.label :state %><span class='required'>*</span></td>
        <td><%= select_tag :state, options_for_select(@location.state_options), class: 'required-field' %></td>
      </tr>
      <tr>
        <td><%= u.label :zip_code %><span class='required'>*</span></td>
        <td><%= u.text_field :zip_code, class: 'required-field' %><p id="zip_req"></p></td>
      </tr>
      <tr>
        <td colspan="2" id="create-company"><%= f.submit %></td>
      </tr>
        <% end %>
      <% end %>
    </table>

  </div>
</div>
