<div class="container-fluid">
  <div class="col-md-12">
    <h1 class="company-name text-center"><%= @company.name %></h1>
  </div>
    <div class="center-block " style="width:120px">
      <%= render partial: 'favorites_button' %>
    </div>
</div>
<div class="container-fluid">
  <%= render partial: 'company_info' %>
</div>
<div class="container-fluid">
  <h2 class="text-center">Locations</h2>
  <div class="col-md-7">
    <section id="company-map"></section>
  </div>
  <div class="col-md-5 add-findings-and-map">
    <%= render partial: 'locations_table' %>
  </div>
</div>
<div class="container-fluid" style="margin-top:25px;">
  <div class="col-md-6">
      <%= render partial: 'add_findings' %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading jobs">
        <h3 class='text-center'>Jobs</h3>
      </div>
      <table class='table'>
        <thead>
          <th>Title</th>
        </thead>
        <tbody id="jobs-tbody">
          <tr id="no-jobs">
            <td>No jobs found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

  <div class="alumni-notes">
    <%= react_component 'CompanyAlumni', {
      employees: @company.employees , currentUser: current_user,
      showAdminForm: false,
      workHereDisabled: @company.employee?(current_user)
    }
    %>
    <div class="notes-container">
      <div class="panel-group">
        <div class='panel panel-default'>

          <div class="panel-heading">
            <h3 class='text-center'>Create Note</h3>
          </div>

          <div class='panel-body'>
            <form>

              <div class="switch-toggle well">
                <input id="private-note" name="note-status" type="radio" value="private" checked>
                <label for="private-note">Private</label>

                <input id="public-note" name="note-status" type="radio" value="public">
                <label for="public-note" onclick="">Public</label>

                <a class="btn btn-primary"></a>
              </div>

              <input type="text" name="note[title]" id="notetitle" placeholder="Title"></br></br>
              <textarea name="note[body]" id="notebody" placeholder="Body ..."></textarea></br>
              <script>
              CKEDITOR.replace( 'note[body]' );
              </script>
              <button type="button" name="create-note" id="create-note-button">Create Note</button>
            </form>

          </div>
        </div>

        <div id="notes-table">
          <h3 class="text-center">Notes List</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Company</th>
                <th>Written On</th>
                <th>Title</th>
                <th>Body</th>
                <th>Privacy Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="notes"></tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_maps_key']%>&callback=initCompanyMap"></script>
