<div class="container">
    <h1 class="company-name"><%= @company.name %></h1>
      <div class="company-info-and-locations-table">
        <%= render partial: 'company_info' %>
        <%= render partial: 'locations_table' %>
      </div>

      <div class="add-findings-and-map">
        <section id="company-map"></section>
        <%= render partial: 'add_findings' %>
        <%= render partial: 'favorites_button' %>
      </div>


</div>
<%= react_component 'CompanyAlumni', {
    employees: @employees , currentUser: current_user,
    showAdminForm: false,
    workHereDisabled: @company.employee?(current_user)
  }
%>
<div class="notes-container">
  <div class="panel-group">
    <div class='panel panel-default'>
      <div class="panel-heading">
        <h3 class='text-center'>Create Note</h3>
      </div>
      <div class='panel-body'>
        <form>
          <div class="switch-toggle well">
            <input id="private-note" name="note-status" type="radio" value="private" checked>
            <label for="private-note">Private</label>

            <input id="public-note" name="note-status" type="radio" value="public">
            <label for="public-note" onclick="">Public</label>

            <a class="btn btn-primary"></a>
          </div>
          <input type="text" name="note[title]" id="notetitle" placeholder="Title"></br></br>
          <textarea name="note[body]" id="notebody" placeholder="Body ..."></textarea></br>
          <script>
            CKEDITOR.replace( 'note[body]' );
          </script>
          <button type="button" name="create-note" id="create-note-button">Create Note</button>
        </form>
      </div>
    </div>
      <div id="notes-table">
        <h3 class="text-center">Notes List</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Company</th>
              <th>Written On</th>
              <th>Title</th>
              <th>Body</th>
              <th>Privacy Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="notes"></tbody>
        </table>
      </div>
    </div>
  </div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_maps_key']%>&callback=initCompanyMap"></script>
