<h2>Pending Companies</h2>
<table>
  <% @pending_companies.each do |company| %>
      <tr>
        <td>
          <strong>Street Address: </strong><%= company.locations.first.street_address %>, <%= company.locations.first.city_state_zip %><br>
          <strong>Phone: </strong><%= company.locations.first.phone %><br>
          <strong>Primary Contact: </strong><%= company.locations.first.primary_contact %>
        </td>
        <td>
          <%= button_to "Approve", {controller: "moderator/companies", action: "update", approve: true, id: company.id}, method: :put %>
          <%= button_to "Reject", {controller: "moderator/companies", action: "update", id: company.id}, method: :put %>
          <%= button_to "Edit", edit_moderator_company_path(company) %>
        </td>
      </tr>
  <% end %>
</table>

<h2>Pending Locations</h2>
<table>
  <% @pending_locations.each do |location| %>
      <tr>
        <td>
          <strong>Street Address: </strong><%= location.street_address %>, <%= location.city_state_zip %><br>
          <strong>Phone: </strong><%= location.phone %><br>
          <strong>Primary Contact: </strong><%= location.primary_contact %>
        </td>
        <td>
          <%= button_to "Approve", {controller: "moderator/locations", action: "update", location: {status: "approved"}, id: location.id}, method: :put %>
          <%= button_to "Edit", edit_moderator_location_path(location) %>
        </td>
      </tr>
  <% end %>
</table>
